
<section id="about" class="main-container">
  <div class="container">
    <div class="row">

      <div class="main col-md-12">
        <h3 class="title"><strong>About WATAN</strong></h3>
        <div class="separator-2"></div>
        <div class="row">
          <div class="col-md-6">

            <%= raw(@about.body) %>


          </div>
          <div class="col-md-6">

            <%= cl_image_tag("collection_ctcex5", :crop=>"fit") %>

          </div>
        </div>
      </div>
      <!-- main end -->
        </div>
      </div>
    </section>