
<section id="about" class="main-container">
  <div class="container">
    <div class="row">

      <div class="main col-md-12">
        <h3 class="title"><strong>Careers </strong></h3>
        <div class="separator-2"></div>
        <div class="row">
          <div class="col-md-6">

</div>
            <div class="col-md-6">
              <%= @careers.body.html_safe %>

            </div>
          </div>
        </div>
        <!-- main end -->
      </div>
    </div>
</section>