


<%= render 'fullwidthlarge' %>








<section id="about" class="main-container">
  <div class="container">
    <div class="row">

  <div class="main col-md-12">
    <h3 class="title"><strong>About WATAN</strong></h3>
    <div class="separator-2"></div>
    <div class="row">
      <div class="col-md-8">


        <strong>What we do:</strong><br>
        <p>WATAN operates in many humanitarian and developmental fields through its
          specialized programs. With over 5 million beneficiaries in Syria and its
          neighbouring countries, WATAN continues to provide aid through relief,
          education, capacity building, and supporting civil society and livelihood
          projects to name but a few.</p>

        <p>The integration between the WATAN programs, staff members and its extensive
          network has enabled WATAN to provide more inclusive projects that meet the needs.</p>


          <strong>Initiation and Programs</strong><br>
        <p>WATAN was founded in 2012 as a framework of various organisations and groups
          and as an extended effort for preceding entities since 2006.WATAN has 8 Programs
          working together to address emergency response and sustainable community revival.</p>

           <ul class="list-icons">
          <li><i class="icon-check-1"></i> We are here to support you</li>
          <li><i class="icon-check-1"></i> Free updates</li>
          <li><i class="icon-check-1"></i> Unlimited options and variations</li>
          <li><i class="icon-check-1"></i> ipsam asperiores fugiat quo</li>
        </ul>
      </div>

      <div class="col-md-4">






      </div>
    </div>
  </div>
  <!-- main end -->



      <div class="main col-md-12">
        <h3 class="title"><strong>Donate</strong></h3>
        <div class="separator-2"></div>
        <div class="row">
          <div class="col-md-8">


            <p>WATAN relies on the generosity of people like you to continue reviving community programs that save lives and provide a better of
              quality of life to so many people. Give now and empower individuals and entire communities in areas of conflict and crisis.</p>

            <p>When you make a donation you are saving lives and making brighter futures.</p>


            <ul class="list-icons">
              <li><i class="icon-check-1"></i> We are here to support you</li>
              <li><i class="icon-check-1"></i> Free updates</li>
              <li><i class="icon-check-1"></i> Unlimited options and variations</li>
              <li><i class="icon-check-1"></i> ipsam asperiores fugiat quo</li>
            </ul>
          </div>

          <div class="col-md-4">






          </div>
        </div>
      </div>
      <!-- main end -->



  </div>
  </div>









  <%#= render :partial => 'visitors/about' %>
</section>


<section id="donate" class="main-container">
  <div class="sectionbanner watandarkred">Donate</div>
  <br><br>  <br><br>

  <%#= render :partial => 'visitors/donate' %>
</section>


<%#= render :partial => 'visitors/contact' %>





<%#= render :partial => 'visitors/institutes' %>

<%#= render :partial => 'visitors/supportwatan' %>




<p><%#= link_to 'Users:', users_path %> <%= User.count %> registered</p>

<script>
    var myFunc = function() {
        baguetteBox.run('.step_div');
    };

    $(document).ready(myFunc);
    $(document).on('page:load', myFunc); // Classic Turbolinks
    $(document).on('turbolinks:load', myFunc); // Turbolinks 5

</script>