<style>
.btn-justgiving {
padding: 5px 15px;
font-size: 12px;
line-height: 1.46666667;
    border: #000 2px solid;
border-radius: 5px;
margin: 5px 0;
    width: 150px;
}
</style>


<%= render 'fullwidthlarge' %>








<section id="about" class="main-container">
  <div class="container">
    <div class="row">

  <div class="main col-md-12">
    <h3 class="title"><strong>About WATAN</strong></h3>
    <div class="separator-2"></div>
    <div class="row">
      <div class="col-md-8">


        <strong>What we do:</strong><br>
        <p>WATAN operates in many humanitarian and developmental fields through its
          specialized programs. With over 5 million beneficiaries in Syria and its
          neighbouring countries, WATAN continues to provide aid through relief,
          education, capacity building, and supporting civil society and livelihood
          projects to name but a few.</p>

        <p>The integration between the WATAN programs, staff members and its extensive
          network has enabled WATAN to provide more inclusive projects that meet the needs.</p>


          <strong>Initiation and Programs</strong><br>
        <p>WATAN was founded in 2012 as a framework of various organisations and groups
          and as an extended effort for preceding entities since 2006.WATAN has 8 Programs
          working together to address emergency response and sustainable community revival.</p>


      </div>

      <div class="col-md-4">
        <%= cl_image_tag("education_52_nm36u2", :crop=>"fit") %>





      </div>
    </div>
  </div>
  <!-- main end -->

      <div id="donate">
      <div class="main col-md-12">
        <h3 class="title"><strong>Donate</strong></h3>
        <div class="separator-2"></div>
        <div class="row">
          <div class="col-md-8">


            <p>WATAN relies on the generosity of people like you to continue reviving community programs that save lives and provide a better of
              quality of life to so many people. Give now and empower individuals and entire communities in areas of conflict and crisis.</p>

            <p>When you make a donation you are saving lives and making brighter futures.</p>
            <div class="col-md-6">
              <h3>Donate through Paypal</h3>
              <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="X78SLP7MWEZ8N">
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
              </form>


            </div>







          </div>

          <div class="col-md-4">
            <%= cl_image_tag("img_circle_lclse6", :crop=>"fit") %>





          </div>
        </div>
      </div>
      </div>
      <!-- main end -->



  </div>
  </div>









  <%#= render :partial => 'visitors/about' %>
</section>







<script>
    var myFunc = function() {
        baguetteBox.run('.step_div');
    };

    $(document).ready(myFunc);
    $(document).on('page:load', myFunc); // Classic Turbolinks
    $(document).on('turbolinks:load', myFunc); // Turbolinks 5

</script>