@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-datepicker3";
@import "font-awesome";
@import "chosen";
@import "animations";
@import "fontello";
@import "magnific-popup";
@import "settings";
@import "animations";
@import "owl.carousel";
@import "owl.transitions";
@import "hover-min";
@import "style";
@import "blue";
/*@import "layers";*/
@import "magnific-popup";
/*@import "navigation";*/
@import "custom";
@import "froala_editor.min";
@import "froala_style.min";
@import "plugins/code_view.min";



@font-face {
  font-family: "AvenirNextLTPro";
  src: font-url('/assets/AvenirNextLTPro-Regular.otf') format("opentype");
  font-size: normal;
  font-weight: normal;
}

body {
  font-family: 'AvenirNextLTPro';
}
.avenir  {
  font-family: 'AvenirNextLTPro';
}


h1, h2, h3, h4, h5, h6, .navbar .navbar-nav {
  font-family: 'AvenirNextLTPro';
}


.navbar-nav {
  font-family: 'AvenirNextLTPro';
}
.navbar-default {
  border-bottom: 2px darkblue solid
}
.header-top.dark {
  background-color: #ffffff;
  border-bottom: 1px solid #242a2e;
}

.floatlogo {
  float: left;
  background-color: #fff;
  width: 250px;
  height: 250px;
  margin: 10px;
  clear: left;
  border: 3px solid #fff;
}
.ui-layout-north {
  padding: 20px;
  position: fixed;
  top: 0;
  left: 50;
  width: 126px;
  height: 125px;
  background: #002742;
  z-index: 10000;

}
.header-top {
  font-size: 16px;
  color: #777777;
  font-weight: 300;
}